@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.5;
    transition: 0.4s;
  }
  
  a:hover {opacity: 1}

  .btn {
    background-color: white;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }
  
  .btn:hover {opacity: 1}

  .zoom:hover {
    transform: scale(1.45); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }